{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "trailingComma": "es5", "printWidth": 80 }
    ]
  }
}
